body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #2a7886;
    /* margin: 0px; */
}
.header{
    position: relative;    
    padding: 20px;
    text-align: center;
    background: #e1f4f3;
    color: #2a7886;
}
.header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 30px;
}
.topnav {
    position: relative;
    width: 100%;
    background: white;
    background-color: white;
    color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #8ac6d1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #8ac6d1;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    /* background-color: white; */
   color: #8ac6d1;
   background-color: white;
   font-size: 25px;
}

/* Centered section inside the top navigation */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
.topnav a, .topnav-right {
    float: none;
    display: block;
}

.topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
}
}
.mySlides{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: #ddd;
    padding: 20px;
}
.main{
    flex: 70%;
    background-color: #f1f1f1f1;
    color: black;
    padding: 20px;
}
@media screen and (max-width: 700px){
    .row{
        flex-direction: column;
    }
}
@media screen and (max-width: 400px){
    .navbar a{
        float: none;
        width: 100%;
    }
}

/* Style the container with a rounded border, grey background and some padding and margin */
.container {
border: 2px solid #ccc;
background-color: #eee;
border-radius: 5px;
padding: 16px;
margin: 16px 0;
}

/* Clear floats after containers */
.container::after {
content: "";
clear: both;
display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container img {
float: left;
margin-top: 30px;
margin-right: 20px;
border-radius: 5%;
}

/* Increase the font-size of a span element */
.container span {
font-size: 20px;
margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
.container {
    text-align: center;
}

.container img {
    margin: auto;
    float: none;
    display: block;
}
}
.footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
    background: #e1f4f3;
    color: #2a7886;
}